<% include("../functions") %>
<html>

<head>
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  <link href="/stylesheets/style1.css" rel="stylesheet" type="text/css">	
  <!-- Box Icons -->
  <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>

<body>
   <header class="header">
        
        <!-- Navbar -->
        <div class="nav container">

            <!-- Logo -->
            <a href="https://browsbydino.com/index.html" class="logo">
                <img src="images/logo.png">
                <span class="logo-name">Beauty Studio by Dino</span>
            </a>

            <!-- Nav Links -->
            <div class="navbar">
                <li><a href="https://browsbydino.com/index.html" class="nav-link">Home</a></li>
                <li><a href="https://browsbydino.com/pages/about.html" class="nav-link">About</a></li>
                <li><a href="https://browsbydino.com/pages/services.html" class="nav-link"> Services</a></li>
                <li><a href="https://browsbydino.com/pages/contact.html" class="nav-link">Contact</a></li>
                <a href="" class="schedule-btn btn">Book Now</a>
            </div>

            <!-- Icons -->
            <div class="header-icon">
                <i class='bx bx-user'></i>
            </div>

            <!-- Menu Icon -->
            <div class="menu-icon">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>

        </div>

  </header>
  <!-- About Us Home -->
    <section class="ourservices" id="ourservices">
        
        <div class="aboutus-data container">

             <!-- Home Text -->
            <div class="aboutus-text">

                <h1>Our Services</h1>

            </div>

        </div>

    </section>
  <div class="space"></div>
 
 <div class="content">
    <div class="content-left business">
      <div class="business__logo">
        <%if (location.logoUrl) { %>
          <img src="<%= location.logoUrl %>">
        <% } else { %>
          <img src="/images/blank-logo.svg">
        <% } %>
      </div>
      <h3>
        <%= location.businessName || location.name %>
      </h3>
      <%if (location.description) { %>
        <h5> <%= location.description %> </h5>
      <% } %>
      <div class="business__location">
        <h4>Location</h4>
        <div>
          <%if (location.address) { %>
            <%if (location.address.addressLine1) { %>
              <span><%= location.address.addressLine1 %>, </span> <br>
            <% } %>
            <%if (location.address.addressLine2) { %>
              <span><%= location.address.addressLine2 %>, </span>
            <% } %>
            <span>
              <%= location.address.locality %>,
              <%= location.address.administrativeDistrictLevel1 %>,
              <%= location.address.postalCode %>
            </span>
          <% } else { %>
            <span>No location information</span>
          <% } %>
        </div>
      </div>
      <div class="business__contact">
      <h4>Contact</h4>
      <%if (location.phoneNumber || location.businessEmail) { %>
        <%if (location.businessEmail) { %>
          Email: <span> <%= location.businessEmail %> </span>
          <br>
        <% } %>
        <%if (location.phoneNumber) { %>
          Phone:
          <span> <%= location.phoneNumber %> </span>
        <% } %>
      <% } else { %>
          <span>No contact information</span>
      <% } %>
      </div>
      <%if (cancel === "success") { %>
        <div class="success-toast">
          <div>
            <img src="/images/success.svg">Your booking was cancelled successfully!
          </div>
        </div>
      <% } %>
    </div>
    <div class="content-main services">
      <h4> Book an appointment </h4>
      <h4 class="title">Services</h4>
      <h4 class="underline"></h4>
      <div class="cards">
        <% items.forEach(function(item) { %>
          <% item.itemData.variations.forEach(function(variation) { %>
            <a href="/staff/<%= variation.id %>?version=<%= variation.version %>">
              <div class="card__wrapper">
                <div class="card__info">

                
                  <h4><%= item.itemData.name %></h4>
                  <span class="card__details">
                    <%if (variation.itemVariationData.pricingType === "FIXED_PRICING") { %>
                      <%= item.itemData.description %>
                    <% } else { %>
                      Price Varies
                    <% } %>
                    • <%= formatTime(variation.itemVariationData.serviceDuration) %>
                    </span>
                

                </div>
                <span class="card__icon"></span>
                <img src="images/side-caret.svg">
              </div>
            </a>
          <%}); %>
        <%}); %>
        <% if (!items.length) {%>
          <div class="card__wrapper disabled"></div>
        <% } %>
      </div>
    </div>
  </div>
  <% if (!items.length) {%>
    <div class="developer-note">
      <div>
        <h5>Developer note</h5>
        <span>Looks like you don’t have any services setup yet. Run the seeding script or use the 
          <a href="https://developer.squareup.com/explorer/square/catalog-api/upsert-catalog-object" target="_blank">API Explorer</a> or the Seller Dashboard for your environment
          to create your first service. For more information, check our README file.
        </span>
      </div>
    </div>
  <% } %>

  <!-- Footer -->
    <div class="footer-container">

        <section id="footer" class="footer">

        <h5>Book online</h5>
        <h1>Book Your Session</h1>
        <p>Offering the best permanent cosmetic treatment / microblading here in Fairfax, VA. 
            We are also welcoming clients from Tysons Corner, Falls Church, Arlington and more.</p>

        <div><a href="" class="book-btn">BOOK ONLINE</a></div>

        <h4>or call me at</h4>
        <a href="tel:5712252693">
            <p class="call">+1 571-225-2693</p>
        </a>
        
        <div class="social">
            <a href="https://www.facebook.com/BeautyStudiobyDinoLLC" target="_blank">
                <i class='bx bxl-facebook-circle'></i>
            </a>
            <a href="https://www.instagram.com/beautystudioby.dino/" target="_blank">
                <i class='bx bxl-instagram-alt' ></i>
            </a>
            <a href="https://x.com/browsbydino?s=21&t=Zc-iQZvTNHBkPpUmzz8GgQ" target="_blank">
                <i class='bx bxl-twitter' ></i>
            </a>
            <a href="https://www.yelp.com/biz/beauty-studio-by-dino-fairfax-3?utm_campaign=www_business_share_popup&utm_medium=copy_link&utm_source=(direct)" target="_blank">
                <i class='bx bxl-yelp' ></i>
            </a>
        </div>

        <p class="copyright">Copyright © 2023 Beauty Studio by Dino</p>

        </section>

    </div>

  <script src="/js/main.js"></script>

</body>

</html>
